<a href="https://colab.research.google.com/github/akshaya-129/dav-1/blob/main/missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##data wrangling steps:
## 1.handling missing values
## 2.handling duplicate
## 3.handling outliers
## 4.transformation

In [13]:
import pandas as pd
import numpy as np
data={'patientid':[1,2,3,4,5],
       'Age':[25,30,None,40,50],
       'Bp':[120,None,110,140,None]}
df=pd.DataFrame(data)
print(df)

   patientid   Age     Bp
0          1  25.0  120.0
1          2  30.0    NaN
2          3   NaN  110.0
3          4  40.0  140.0
4          5  50.0    NaN

In [32]:
df4=df.dropna()
print(df4)

   patientid  Age   Bp
0          1   25  120
1          2   30  130
2          3   90  110
3          4   40  140
4          5   50  135

In [30]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
print(df)

   patientid  Age   Bp
0          1   25  120
1          2   30  130
2          3   90  110
3          4   40  140
4          5   50  135

/tmp/ipython-input-2591424001.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace=True)
/tmp/ipython-input-2591424001.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'].fillna(df['Age'].mean(),inplace=True)

In [21]:
import pandas as pd
data={'BP':[120,None,None,125,None,150]}
df=pd.DataFrame(data)
df['BP'].fillna(method='ffill',inplace=True)
print(df)

      BP
0  120.0
1  120.0
2  120.0
3  125.0
4  125.0
5  150.0

/tmp/ipython-input-3315339470.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['BP'].fillna(method='ffill',inplace=True)
/tmp/ipython-input-3315339470.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['BP'].fillna(method='ffill',inplace=True)

In [20]:
import pandas as pd
sales=pd.DataFrame({
    'OrderID':[101,102,103,101],
    'Product':['Mobile','Laptop','Tablet','Mobile'],
    'Amount':[20000,50000, None, 20000]
})
print(sales.duplicated())
sales_df=sales.drop_duplicates()
print(sales_df)

0    False
1    False
2    False
3     True
dtype: bool
   OrderID Product   Amount
0      101  Mobile  20000.0
1      102  Laptop  50000.0
2      103  Tablet      NaN

In [23]:
import pandas as pd
import numpy as np
data={'patientid':[1,2,3,4,5],
       'Age':[25,30,None,40,50],
       'Bp':[120,None,110,140,None]}
df=pd.DataFrame(data)
print(df)

   patientid   Age     Bp
0          1  25.0  120.0
1          2  30.0    NaN
2          3   NaN  110.0
3          4  40.0  140.0
4          5  50.0    NaN

In [28]:
import pandas as pd
data2={'patientid':[1,2,3,4,5,2,4],
       'Age':[25,30,90,40,50,30,40],
       'Bp':[120,130,110,140,135,130,140]}
df2=pd.DataFrame(data2)
print(df2)
print(df2.duplicated())

   patientid  Age   Bp
0          1   25  120
1          2   30  130
2          3   90  110
3          4   40  140
4          5   50  135
5          2   30  130
6          4   40  140
0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool

In [29]:
import pandas as pd
data2={'patientid':[1,2,3,4,5,2,4],
       'Age':[25,30,90,40,50,30,40],
       'Bp':[120,130,110,140,135,130,140]}
df2=pd.DataFrame(data2)
print(df2)
print(df2.duplicated())
df=df2.drop_duplicates()
print(df)

   patientid  Age   Bp
0          1   25  120
1          2   30  130
2          3   90  110
3          4   40  140
4          5   50  135
5          2   30  130
6          4   40  140
0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool
   patientid  Age   Bp
0          1   25  120
1          2   30  130
2          3   90  110
3          4   40  140
4          5   50  135