<a href="https://colab.research.google.com/github/akshaya-129/dav-1/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_list = [1, 2, "hello", True]
print(f"List: {my_list}")

List: [1, 2, 'hello', True]

In [2]:
empty_list = []
print(f"Empty List: {empty_list}")

Empty List: []

In [3]:
list_from_range = list(range(1, 5))
print(f"List from range: {list_from_range}")

List from range: [1, 2, 3, 4]

In [4]:
my_tuple = (10, 20, "world", False)
print(f"Tuple: {my_tuple}")

Tuple: (10, 20, 'world', False)

In [5]:
empty_tuple = ()
print(f"Empty Tuple: {empty_tuple}")

Empty Tuple: ()

In [6]:
single_element_tuple = (5,)
print(f"Single element tuple: {single_element_tuple}")

Single element tuple: (5,)

In [7]:
tuple_from_list = tuple([1, 2, 3])
print(f"Tuple from list: {tuple_from_list}")

Tuple from list: (1, 2, 3)

In [8]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(f"Dictionary: {my_dict}")

Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [9]:
empty_dict = {}
print(f"Empty Dictionary: {empty_dict}")

Empty Dictionary: {}

In [10]:
dict_from_kwargs = dict(fruit="apple", color="red")
print(f"Dictionary from kwargs: {dict_from_kwargs}")

Dictionary from kwargs: {'fruit': 'apple', 'color': 'red'}

In [11]:
dict_from_tuples = dict([("a", 1), ("b", 2)])
print(f"Dictionary from tuples: {dict_from_tuples}")

Dictionary from tuples: {'a': 1, 'b': 2}

In [12]:
import pandas as pd
data_dict = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["London", "Paris", "Rome"]
}
df_from_dict = pd.DataFrame(data_dict)
print("\nDataFrame from Dictionary:")
print(df_from_dict)

DataFrame from Dictionary:
      Name  Age    City
0    Alice   25  London
1      Bob   30   Paris
2  Charlie   35    Rome

In [13]:
data_list_of_lists = [
    ["David", 40, "Berlin"],
    ["Eve", 28, "Tokyo"]
]
df_from_list_of_lists = pd.DataFrame(data_list_of_lists, columns=["Name", "Age", "City"])
print("\nDataFrame from List of Lists:")
print(df_from_list_of_lists)

DataFrame from List of Lists:
    Name  Age    City
0  David   40  Berlin
1    Eve   28   Tokyo

In [14]:
empty_df = pd.DataFrame()
print(f"\nEmpty DataFrame:\n{empty_df}")

Empty DataFrame:
Empty DataFrame
Columns: []
Index: []